<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" />
    <link href="/static/dist/output.css" rel="stylesheet" />
    <title>Terna | Concession</title>
  </head>

  <body class="h-screen">
    <nav class="flex justify-between h-[12%] p-6 w-[100%]">
      <div>
        <img src="/static/assets/images/logo_blue.svg" alt="" />
      </div>

      <div class="flex items-center gap-28">
        <ul class="flex gap-8 fo  nt-sans font-semibold text-zinc-600">
          <li>Home</li>
          <li>About</li>
          <li>Services</li>
          <li>Contact Us</li>
        </ul>

        <a href="/login">
          {% if request.user.is_authenticated %}
          <button class="bg-accent px-12 py-3 text-light rounded-xl">Dashboard</button>
          {% else %}
            <button class="bg-accent px-12 py-3 text-light rounded-xl">Login</button>
          {% endif %}
        </a>
      </div>
    </nav>

    <div class="h-[88%] flex justify-between items-center px-24">
        <div class="space-y-6">
          <h1 class="text-6xl font-sans font-bold tracking-wide">
            Easiest Way to Get <br> Concession from <br> college
          </h1>
          <p class="text-descriptive font-sans font-semibold tracking-wide">Why pay more when you can get those amazing <br> discounts on railway tickets? Our fabulous <br> Railway concession services.</p>
          
          
          {% if not request.user.is_authenticated %}
          <div class="flex gap-3">

            <a href="/login">
              <button class="bg-accent px-12 py-3 text-light rounded-xl">Login</button>
            </a>
            <a href="/register">
              <button class="bg-white px-12 py-3 text-accent font-semibold border-2 border-accent rounded-xl">Sign Up</button>
            </a>

          </div>
          {% endif %}
        
        </div>

        <div class="w-[40%]">
          <img src="/static/assets/images/landing_img.svg" alt="">
        </div>
    </div>


  </body>
</html>
