<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link
  rel="stylesheet"  type='text/css'>  <link href="/frontend/dist/output.css" rel="stylesheet">
  <title>Terna | Concession</title>
</head>
<body class="bg-hero h-[320px] w-full bg-center bg-no-repeat">

  <!-- NAVBAR -->

    <nav class="flex justify-between mx-6 my-8 lg:mx-8 lg:my-10">
      <div class="w-20 lg:w-28">
        <img src="../static/assets/images/logo_white.svg" alt="" srcset="">
      </div>
        <button class="text-white bg-accent rounded-full text-xs px-4 py-0 font-sans lg:text-base lg:px-8 hover:opacity-90">Get Started
            <img class="inline h-3 w-3 " src="../static/assets/images/arrow.png" alt="" srcset="">
        </button>
    </nav>

    <section class="h-[75vh] my-auto flex flex-col justify-center items-center">
      <h1 class="text-xl p-4 text-center text-white font-sans md:text-2xl lg:text-3xl xl:text-4xl">A Platform Build for a Easiest
        Way To Get Concession from college</h1>
        <!-- <p class="text-white text-center text-[10px]">Why pay more when you can get those amazing discounts on railway tickets? Our fabulous Railway Concession platform offers exclusive deals and promotions that will leave your wallet smiling.</p> -->
        <button class="mt-2 lg:mt-6 text-white bg-accent rounded-full text-xs px-5 py-3 font-sans md:text-sm md:px-6 lg:px-8 xl:text-base xl:px-10 hover:opacity-90">Get Started
          <img class="inline h-3 w-3 " src="../static/assets/images/arrow.png" alt="" srcset="">
      </button>
      </section>
</body>

<script src="index.js"></script>
</html>