<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/3104/3104133.png"
      type="image/png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/dist/output.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="opacity-0 sm:opacity-100 md:absolute md:top-7 md:left-8">
      <div class="w-20 lg:w-28">
        <img src="/static/assets/images/logo_white.svg" alt="" srcset="" />
      </div>
    </div>

    <div class="p-4 lg:flex lg:flex-row-reverse md:p-20 lg:p-0">
      <form action="/personal-details" method="POST" class="h-screen lg:w-[60%] flex flex-col justify-center  lg:px-32 ">

        {% csrf_token %}

        <h4 class="text-xl text-gray-500 font-extralight">Section 1 of 3</h4>
        <h1
          class="text-xl w-[16rem] font-medium text-accent bg-blue-100 px-12 py-3 inline-block mt-6 rounded-2xl mb-8"
        >
          Personal Details
        </h1>

        <div class="flex gap-3">
          <input
            id="firstname"
            name="fname"
            class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
            placeholder="First name"
            type="text"
          />

          <input
            id="middle"
            name="mname"
            class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
            placeholder="Middle name"
            type="text"
          />

          <input
            id="lastname"
            name="lname"
            class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
            placeholder="Last name"
            type="text"
          />

        </div>


        <div class="relative">
            <label for="dob" class="bg-white px-1.5 py-0 absolute top-[-9px] left-3 z-10">Date of Birth</label>
            <input
              id="dob"
              name="dob"
              type="date"
              class="relative w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
              placeholder="Select Date of Birth"
              required
            />
        </div>
        <textarea
          id="address"
          name="address"
          class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
          placeholder="Enter your address"
          rows="4"
          type="text"
        ></textarea>
        <input
          name="phone"
          class="w-full mb-6 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
          placeholder="Enter your phone number"
          type="number"
        >

        <!-- Buttons -->
        <button
        type="submit"
          class="w-[10rem] px-8 mb-5 rounded-md bg-accent text-light py-3 hover:bg-opacity-90"
        >
          Continue
        </button>
      </form>

      <div
        class="h-full p-6 flex flex-col justify-center items-center bg-accent lg:h-screen lg:w-[45%]"
      >
        <h1 class="text-6xl py-2 text-white font-sans tracking-wide">
          Start Your Journey With Us.
        </h1>
        <p class="text-white tracking-wide font-sans">
          The railway concession login page is a secure and user-friendly online
          platform designed to Student concession . It provides a seamless and
          efficient way for students.
        </p>
        <div class="w-[600px] flex justify-center">
          <img src="/static/assets/images/illustration_2.svg" alt="" srcset="" />
        </div>
      </div>
    </div>

    <!-- jQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>

    <!-- JS FILE -->
    <script src="script.js"></script>
  </body>
</html>
