<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3104/3104133.png" type="image/png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/dist/output.css" />
  <title>Signup</title>
</head>

<body>
  <div class="opacity-0 sm:opacity-100 md:absolute md:top-7 md:left-8">
    <div class="w-20 lg:w-28">
      <img src="/static/assets/images/logo_white.svg" alt="" srcset="">
    </div>
  </div>

  <div class="h-screen p-4 lg:flex lg:flex-row-reverse md:p-20 lg:p-0">

    <form action="/register" method="POST" class="h-full lg:w-[55%] flex flex-col justify-center items-center lg:px-32">

        {% csrf_token %}

        <h1 class="text-3xl mt-14 mb-8">Sign up</h1>
        <input id="firstname" class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
          placeholder="First Name" type="text" name="fname" id="fname" required />
        <input id="lastname" class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
          placeholder="Last Name" type="text" name="lname" id="lname" required />
        <input id="email" class="w-full mb-5 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
          placeholder="Enter your email" type="text" name="email" id="email" required />
        <input class="w-full mb-6 placeholder-dark border-2 border-dark rounded-md py-3 px-4"
          placeholder="Enter your password" type="password" name="password" id="password" required />
        <div class="flex justify-between items-center mb-6">
          <div class="flex items-center">
            <input class="w-4 h-4 accent-dark" type="checkbox" name="remember" id="remember" />
            <p class="ml-2">Remember me</p>
          </div>
        </div>
        <!-- Buttons -->
        <button class="w-full mb-5 rounded-md bg-accent text-light py-3 hover:bg-opacity-90">
          Sign up
        </button>

        <div class="flex justify-center items-center">
          <p class="text-sm text-gray-700 mx-1">Already have an account?</p>
          <a href="/login" class="hover:opacity-90 text-textaccent">Log in</a>
        </div>
    </form>


    <div
        class="h-full p-6 flex flex-col justify-center items-center bg-accent lg:h-screen lg:w-[45%]"
      >
        <h1 class="text-6xl py-2 text-white font-sans tracking-wide px-6">
          Start Your Journey With Us.
        </h1>
        <p class="text-white tracking-wide font-sans px-6">
          The railway concession login page is a secure and user-friendly online
          platform designed to Student concession . It provides a seamless and
          efficient way for students.
        </p>
        <div class="w-[600px] flex justify-center">
          <img src="/static/assets/images/illustration_1.svg" alt="" srcset="" />
        </div>
      </div>
  </div>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  <!-- JS FILE -->
  <script src="script.js"></script>
</body>

</html>