<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3104/3104133.png" type="image/png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/dist/output.css" />
  <title>Verified</title>
</head>

<body class="h-screen">
  <div class="absolute top-7 left-8 w-20 lg:w-28">
    <img src="/static/assets/images/logo_blue.svg" alt="" srcset="">
  </div>
  <div class="h-full flex-col flex items-center justify-evenly">
    <div class="flex flex-col items-center">

      <h1 class="text-4xl font-extralight font-sans mb-6">Your account is activated succesfully.</h1>
      <div class="flex justify-center items-center">
        <a href="/personal-details" class="hover:opacity-90 text-accent">Click here</a>
        <p class=" text-black mx-1">to go to the login page!</p>
      </div>
    </div>
  </div>

  <!-- jQuery CDN -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  <!-- JS FILE -->
  <script src="script.js"></script>
</body>

</html>