<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/3104/3104133.png"
      type="image/png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/dist/output.css" />
    <title>Verification</title>
  </head>
  <body class="h-screen">
    <div class="absolute top-7 left-8 w-20 lg:w-28">
        <img src="/static/assets/images/logo_blue.svg" alt="" srcset="">
      </div>
    <div class="h-full flex-col flex items-center justify-evenly">
        <div class="flex flex-col items-center">
            <div class="flex items-center justify-center h-16 w-16 bg-[#CFD5EA] rounded-full mb-8">
                <img src="/static/assets/images/email.svg" alt="" srcset="">
            </div>
            <h1 class="text-3xl font-extralight font-sans mb-6">Check your email</h1>
            <p class="text-descriptive text-center mb-6">we have sent a verification link to <b>{{email}}</b> <br> please check your email and verifiy your account.</p>
            <div class="flex justify-center items-center">
                <p class=" text-gray-700 mx-1">Not Received Verification link ?</p>
                <a href="#" class="hover:opacity-90 text-accent">Resend Now</a>
              </div>
        </div>
        <button class="text-white bg-accent rounded-md text-xs px-4 py-0 font-sans lg:text-base lg:px-32 lg:py-2 hover:opacity-90">Get Started
            <img class="inline h-3 w-3 " src="/static/assets/images/arrow.png" alt="" srcset="">
        </button>
    </div>

    <!-- jQuery CDN -->

    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>

    <!-- JS FILE -->
    <script src="script.js"></script>
  </body>
</html>
